# AWS Configuration
AWS_ACCESS_KEY_ID="your_access_key_id_here"
AWS_SECRET_ACCESS_KEY="your_secret_access_key_here"
AWS_REGION=ap-south-1
AWS_ACCOUNT_ID=513112950001
ECR_REPOSITORY=brain-mri
ECR_REPOSITORY_URI=513112950001.dkr.ecr.ap-south-1.amazonaws.com/brain-mri

# EC2
EC2_PUBLIC_IP=3.109.108.109